<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class=" nb-0">WhishList</h3>
                </div>
                <div class="card-body">
                    <h2>Poner el url de una imagen de google ya que hice interactivo la subida de imagenes</h2>
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre...." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url...." #url>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">

    <div class="row">
        <app-destinoviaje 
        *ngFor="let d of destinos; let i=index"
        [destino]="d"
        (clicked)="elegido(d)"
        [idx]="i+1">
        
        </app-destinoviaje>
    </div>
  </div>